<!-- Header Section -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <!-- Shared header component -->
  <%- include('header') %>
    <div id="/home" >
    <header class="jumbotron text-center">
      <div class="container">
        <h1>Welcome to My Portfolio</h1>
        <p>A Radio Host and Small Business Owner</p>
      </div>
    </header>
    </div>
</body>
</html>
